<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLBH.Properties.Settings.QLBHConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\QuanLyBanHang.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="QLBH.Properties.Settings.D__WINFORM_QLBH_QLBH_QUANLYBANHANG_MDFConnectionString"
            connectionString="Data Source=DESKTOP-7VDO8JQ\SQLEXPRESS;Initial Catalog=D:\WINFORM\QLBH\QLBH\QUANLYBANHANG.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
</configuration>